{
    "YOUTUBE": {
            "APIKEY":"xxxx",
            "CHANNELIDs": [
                "UCT_xxxx"],
                "videoid_filter_Starts_With":"[a-kA-K]"
    },
    "Coqui-TTS": {
        "model": "tts_models/multilingual/multi-dataset/xtts_v2"
    },
    "rootTranslations" : "Translations",
    "ffmpeg_Path":"path/to/ffmpeg.exe",
     "languages": [ "fr",           
    "en" ,
"es" ,
"de" ,
"it" ,
"pt" ,
"pl" ,
"tr" ,
"ru" ,
"nl" ,
"cs" ,
"ar" ,
"zh-CN" ,
"hu" ,
"ko" ,
"ja" ,
"hi" ] --not working with #s
}
