{
    "YOUTUBE": {
            "APIKEY":"xxxx",
            "CHANNELIDs": [
                "UCT_xxxx"]
    },
    "Coqui-TTS": {
        "model": "tts_models/multilingual/multi-dataset/xtts_v2"
    },
    "rootTranslations" : "Translations",
     "languages": [ "fr",           
    "en" ,
"es" ,
"de" ,
"it" ,
"pt" ,
"pl" ,
"tr" ,
"ru" ,
"nl" ,
"cs" ,
"ar" ,
"zh-cn" ,
"hu" ,
"ko" ,
"ja" ,
"hi" ]
}
}